<div class="outer-container">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mb-4">
                Gestisci le prenotazioni della tua azienda con facilità
              </h2>
              <p>
                Dimentica le agende cartacee e i fogli volanti. Con la nostra
                app, avrai il controllo completo delle prenotazioni della tua
                azienda in un unico posto.
              </p>
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-check"></i> Prenotazioni online 24/7: Permetti
                  ai tuoi clienti di prenotare un tavolo, una stanza o un altro
                  tuo servizio in qualsiasi momento, da qualsiasi dispositivo.
                </li>
                <li>
                  <i class="fa fa-check"></i> Interfaccia intuitiva: Gestisci le
                  prenotazioni in modo facile e veloce, con una comoda
                  visualizzazione del calendario e delle disponibilità.
                </li>
                <li>
                  <i class="fa fa-check"></i> Notifiche in tempo reale: Ricevi
                  notifiche immediate per ogni nuova prenotazione, modifica o
                  cancellazione.
                </li>
              </ul>
              <button
                type="button"
                class="btn btn-dark ms-5"
                [routerLink]="['/booking']"
              >
                Accedi
              </button>
            </div>
            <div class="col-md-6">
              <img
                src="../../../assets/images/calendario (1).jpg"
                alt="fotoDesk"
                class="img p-3 mb-5 float-right"
                width="100%"
                height="auto"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between align-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2 class="mb-4">Amministra dipendenti.</h2>
                <p>
                  Ti aiutiamo tramite la nostra app a tenere sotto controllo le
                  tue risorse umane e salvare nei nostri server, i dettagli dei
                  tuoi dipendenti per gestirli in modo efficiente.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check"></i> Consigli sulla gestione del
                    personale, per mantenere elevata la produttività e favorire
                    un ambiente di lavoro positivo.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Notifiche in tempo reale: Ricevi
                    notifiche immediate per ogni nuova assunzione, modifica o
                    cessazione del rapporto lavorativo.
                  </li>
                </ul>
                <button
                  type="button"
                  class="btn btn-dark ms-5"
                  [routerLink]="['/employee']"
                >
                  Accedi
                </button>
              </div>
              <div class="col-md-6">
                <img
                  src="../../../assets/images/pexels-vojtech-okenka-392018 (1).jpg"
                  alt="fotoDesk"
                  class="img p-3 mb-5 float-right"
                  width="100%"
                  height="auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between align-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2 class="mb-4">Tieni sotto controllo le tue spese</h2>
                <p>
                  Dimentica le agende cartacee e i fogli volanti. Con la nostra
                  app, avrai il controllo completo delle tue spese in un unico
                  posto.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i class="fa fa-check"></i> Monitoraggio 24/7: Tieni traccia
                    delle tue spese in qualsiasi momento e da qualsiasi
                    dispositivo.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Interfaccia intuitiva: Gestisci
                    le tue spese in modo facile e veloce, con una comoda
                    visualizzazione dei dati.
                  </li>
                  <li>
                    <i class="fa fa-check"></i> Notifiche in tempo reale: Ricevi
                    notifiche immediate per ogni nuovo movimento finanziario.
                  </li>
                </ul>
                <button
                  type="button"
                  class="btn btn-dark"
                  [routerLink]="['/opex']"
                >
                  Accedi
                </button>
              </div>
              <div class="col-md-6">
                <img
                  src="../../../assets/images/conti (1).jpg"
                  alt="fotoDesk"
                  class="img p-3 float-right"
                  width="100%"
                  height="auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
