<div class="outer-container pt-3">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between align-item-center">
        <a [routerLink]="['/accommodation']" class="arrow m-3"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-left-square-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"
            /></svg
        ></a>
        <a [routerLink]="['/room']" class="arrow m-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-right-square-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
            />
          </svg>
        </a>
      </div>
      <div class="col-md-12">
        <select
          [(ngModel)]="selectedOrder"
          class="ricerca mb-2"
          (change)="fetchData()"
        >
          <option value="ricerca">Ricerca</option>
          <option value="findByEmail">Cerca per Email</option>
          <option value="findByFullNameAndPhone">
            Cerca per Nome e Telefono
          </option>
          <option value="findByPartialName">Cerca per Nome Parziale</option>
        </select>
        <div *ngIf="selectedOrder === 'findByEmail'" class="form-group">
          <label for="emailInput">Inserisci l'email:</label>
          <input
            type="email"
            class="form-control mb-2"
            id="emailInput"
            [(ngModel)]="searchTerm"
            (input)="fetchData()"
          />
        </div>
        <div
          *ngIf="selectedOrder === 'findByFullNameAndPhone'"
          class="form-group"
        >
          <label for="fullNameInput">Inserisci il nome completo:</label>
          <input
            type="text"
            class="form-control"
            id="fullNameInput"
            [(ngModel)]="fullName"
            (input)="fetchData()"
          />
          <label for="phoneInput">Inserisci il numero di telefono:</label>
          <input
            type="tel"
            class="form-control mb-2"
            id="phoneInput"
            [(ngModel)]="phone"
            (input)="fetchData()"
          />
        </div>
        <div *ngIf="selectedOrder === 'findByPartialName'" class="form-group">
          <label for="partialNameInput">Inserisci un nome parziale:</label>
          <input
            type="text"
            class="form-control mb-2"
            id="partialNameInput"
            [(ngModel)]="partialName"
            (input)="fetchData()"
          />
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6" *ngFor="let booking of bookings">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="card-title">Cliente</p>
                  <p class="card-title">{{ booking.fullName }}</p>
                </div>
                <div class="d-flex justify-content-between mt-1">
                  <p class="card-text">Email:</p>
                  <p class="card-text">{{ booking.email }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Cellulare:</p>
                  <p class="card-text">{{ booking.phone }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Numero Ospiti:</p>
                  <p class="card-text">{{ booking.numberOfGuests }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Check-In:</p>
                  <p class="card-text">{{ booking.checkIn }}</p>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="card-text">Check-Out:</p>
                  <p class="card-text">{{ booking.checkOut }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Numero Stanza:</p>
                  <p class="card-text">{{ booking.room.number }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Da Pagare:</p>
                  <p class="card-text">{{ booking.room.price }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Tipo Stanza:</p>
                  <a [routerLink]="['/roomType']">{{
                    booking.room.roomType.typeName
                  }}</a>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Struttura:</p>
                  <a [routerLink]="['/accommodation']">{{
                    booking.accommodation.name
                  }}</a>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <button
                    class="btn btn-secondary"
                    (click)="editBooking(booking)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
                      />
                    </svg>
                  </button>
                  <button class="btn btn-dark" (click)="deleteBooking(booking)">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash2-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="addButton">
        <button
          id="addButton"
          class="btn button-85 my-3"
          (click)="toggleCardVisibility()"
        >
          Aggiungi
        </button>
      </div>
    </div>
  </div>

  <!-- Add new************************************************************************** -->
  <div class="card card-front" *ngIf="showCard">
    <div class="card-body">
      <h5 class="card-title">FullName</h5>
      <form>
        <div class="form-group">
          <label for="newFullName">FullName</label>
          <input
            type="text"
            class="form-control"
            id="newFullName"
            name="newFullName"
            [(ngModel)]="newBooking.fullName"
          />
        </div>
        <div class="form-group">
          <label for="newEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="newEmail"
            name="newEmail"
            [(ngModel)]="newBooking.email"
          />
        </div>
        <div class="form-group">
          <label for="newPhone">Phone</label>
          <input
            type="text"
            class="form-control"
            id="newPhone"
            name="newPhone"
            [(ngModel)]="newBooking.phone"
          />
        </div>
        <div class="form-group">
          <label for="newCheckIn">CheckIn</label>
          <input
            type="date"
            class="form-control"
            id="newCheckIn"
            name="newCheckIn"
            [(ngModel)]="newBooking.checkIn"
          />
        </div>
        <div class="form-group">
          <label for="newCheckOut">CheckOut</label>
          <input
            type="date"
            class="form-control"
            id="newCheckOut"
            name="newCheckOut"
            [(ngModel)]="newBooking.checkOut"
          />
        </div>
        <div class="form-group">
          <label for="room">Stanza</label>
          <select
            class="form-control"
            id="room"
            name="room"
            [(ngModel)]="newBooking.room"
          >
            <option *ngFor="let room of rooms" [ngValue]="room">
              {{ room.roomType.typeName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="room">Struttura</label>
          <select
            class="form-control"
            id="room"
            name="room"
            [(ngModel)]="newBooking.accommodation"
          >
            <option
              *ngFor="let accommodation of accommodations"
              [ngValue]="accommodation"
            >
              {{ accommodation.name }}
            </option>
          </select>
        </div>
        <div class="d-flex justify-content-between align-item mt-3">
          <button class="btn btn-secondary" (click)="addNewBooking()">
            Aggiungi
          </button>
          <button class="btn btn-dark" (click)="close()">chiudi</button>
        </div>
      </form>
    </div>
  </div>
  <!-- UPDATE******************************************************************************** -->
  <div class="col-md-3" *ngIf="editingBooking">
    <div class="card card-front">
      <div class="card-body">
        <h5 class="card-title">Modifica Prenotazione</h5>
        <form>
          <div class="form-group">
            <label for="editFullName">Nominativi</label>
            <input
              type="text"
              class="form-control"
              id="editFullName"
              name="editFullName"
              [(ngModel)]="editingBooking.fullName"
            />
          </div>
          <div class="form-group">
            <label for="editEmail">Email</label>
            <input
              type="email"
              class="form-control"
              id="editEmail"
              name="editEmail"
              [(ngModel)]="editingBooking.email"
            />
          </div>
          <div class="form-group">
            <label for="editPhone">Cellulare</label>
            <input
              type="text"
              class="form-control"
              id="editPhone"
              name="editPhone"
              [(ngModel)]="editingBooking.phone"
            />
          </div>
          <div class="form-group">
            <label for="editChechIn">CheckIn</label>
            <input
              type="date"
              class="form-control"
              id="editChechIn"
              name="editChechIn"
              [(ngModel)]="editingBooking.checkIn"
            />
          </div>
          <div class="form-group">
            <label for="editCheckOut">CheckOut</label>
            <input
              type="date"
              class="form-control"
              id="editCheckOut"
              name="editCheckOut"
              [(ngModel)]="editingBooking.checkOut"
            />
          </div>
        </form>
        <div class="d-flex justify-content-between align-item-center mt-2">
          <button class="btn btn-success" (click)="saveEditedBooking()">
            Salva
          </button>
          <button class="btn btn-secondary" (click)="cancelEdit()">
            Annulla
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
