<div class="container">
  <h1 class="text-center">Inserisci nuovo prenotazione</h1>
  <form #form="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        name="nome"
        id="nome"
        class="form-control"
        required
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="telefono">Telefono</label>
      <input
        type="number"
        name="telefono"
        id="telefono"
        class="form-control"
        required
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="data">data</label>
      <input
        type="date"
        name="data"
        id="data"
        class="form-control"
        required
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="dataOra">Orario</label>
      <input type="time" name="time" id="time" class="form-control" ngModel />
    </div>

    <div class="form-group">
      <label for="tavolo">Camera</label>
      <input
        type="text"
        name="camera"
        id="camera"
        class="form-control"
        ngModel
      />
    </div>

    <div class="d-flex justify-content-between align-center">
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
        Inserisci
      </button>

      <button type="button" class="btn btn-primary" [routerLink]="['/profilo']">
        Torna Indietro
      </button>
    </div>
  </form>
</div>
