<div class="outer-container mt-5">
  <div class="container">
    <div class="row">
      <div *ngFor="let roomItem of room" class="col-md-3">
        <div class="card">
          <img
            [src]="roomItem.roomType.image"
            class="card-img-top"
            alt="Room Type Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ roomItem.roomType.typeName }}</h5>
            <p class="card-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-suitcase2-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 0a.5.5 0 0 0-.5.5V3H4.5A1.5 1.5 0 0 0 3 4.5v9a1.5 1.5 0 0 0 1.003 1.416A1 1 0 1 0 6 15h4a1 1 0 1 0 1.996-.084A1.5 1.5 0 0 0 13 13.5v-9A1.5 1.5 0 0 0 11.5 3H10V.5a.5.5 0 0 0-.5-.5zM9 3H7V1h2zM4 7V6h8v1z"
                />
              </svg>
              {{ roomItem.number }}
            </p>
            <p class="card-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-people-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
                />
              </svg>
              {{ roomItem.capacity }}
            </p>
            <p class="card-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-currency-dollar"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
                />
              </svg>
              {{ roomItem.price }}
            </p>
          </div>
          <button class="btn btn-secondary m-1" (click)="editRoom(roomItem)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3" *ngIf="editingRoom">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Modifica Tipo Stanza</h5>
      <form>
        <div class="form-group">
          <label for="editNumber">Numero Stanza</label>
          <input
            type="text"
            class="form-control"
            id="editNumber"
            name="editNumber"
            [(ngModel)]="editingRoom.number"
          />
        </div>
        <div class="form-group">
          <label for="editCapacity">TotalePersone</label>
          <textarea
            class="form-control"
            id="editCapacity"
            name="editCapacity"
            rows="3"
            [(ngModel)]="editingRoom.capacity"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="editPrice">Prezzo</label>
          <textarea
            class="form-control"
            id="editPrice"
            name="editPrice"
            rows="3"
            [(ngModel)]="editingRoom.price"
          ></textarea>
        </div>
      </form>
      <button class="btn btn-success" (click)="saveEditedRoom()">Salva</button>
      <button class="btn btn-secondary" (click)="cancelEdit()">Annulla</button>
    </div>
  </div>
</div>
