<div class="outer-container py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-item-center">
      <a [routerLink]="['/booking']" class="arrow m-3" title="Prenotazioni"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          class="bi bi-arrow-left-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"
          /></svg
      ></a>
      <button
        id="addButton"
        class="btn button-85 mt-5"
        role="button"
        (click)="toggleCardVisibility()"
      >
        Aggiungi
      </button>
      <a [routerLink]="['/roomType']" class="arrow m-3" title="TipoStanze">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          class="bi bi-arrow-right-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"
          />
        </svg>
      </a>
    </div>
    <div class="pt-2">
      <select
        [(ngModel)]="selectedOrder"
        (change)="changeOrder(selectedOrder)"
        class="ricerca mb-2 ps-2"
      >
        <option value="ricerca">Ricerca</option>
        <option value="asc">Prezzo Crescente</option>
        <option value="desc">Prezzo Decrescente</option>
        <option value="ascRoomNumber">NumeroStanza Crescente</option>
        <option value="descRoomNumber">NumeroStanza Decrescente</option>
      </select>
    </div>
    <div class="row">
      <div *ngFor="let roomItem of room" class="col-md-3 slide-in-from-left">
        <div class="card mb-2">
          <img
            [src]="roomItem.roomType.image"
            class="card-img-top"
            alt="Room Type Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ roomItem.roomType.typeName }}</h5>
            <p class="card-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-suitcase2-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 0a.5.5 0 0 0-.5.5V3H4.5A1.5 1.5 0 0 0 3 4.5v9a1.5 1.5 0 0 0 1.003 1.416A1 1 0 1 0 6 15h4a1 1 0 1 0 1.996-.084A1.5 1.5 0 0 0 13 13.5v-9A1.5 1.5 0 0 0 11.5 3H10V.5a.5.5 0 0 0-.5-.5zM9 3H7V1h2zM4 7V6h8v1z"
                />
              </svg>
              {{ roomItem.number }}
            </p>
            <p class="card-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-people-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
                />
              </svg>
              {{ roomItem.capacity }}
            </p>
            <p class="card-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-currency-dollar"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
                />
              </svg>
              {{ roomItem.price }}
            </p>
          </div>
          <div class="d-flex justify-content-between align-items">
            <button class="btn btn-secondary m-1" (click)="editRoom(roomItem)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
                />
              </svg>
            </button>
            <button class="btn btn-dark m-1" (click)="deleteRoom(roomItem)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash2-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button
          class="btn btn-dark me-3"
          (click)="prevPage()"
          [disabled]="currentPage === 0"
        >
          Previous
        </button>
        <button
          class="btn btn-dark ms-3"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages - 1"
        >
          Next
        </button>
      </div>
    </div>
  </div>

  <!-- NEWROOM************************************************************************************************************* -->
  <div class="d-flex justify-content-between align-item">
    <div class="col-md-3">
      <div class="card card-front" *ngIf="showCard">
        <div class="card-body">
          <h5 class="card-title">Nuovo Stanza</h5>
          <form>
            <div class="form-group">
              <label for="roomType">Tipo di Stanza</label>
              <select
                class="form-control"
                id="roomType"
                name="roomType"
                [(ngModel)]="newRoom.roomType"
              >
                <option *ngFor="let roomType of roomTypes" [ngValue]="roomType">
                  {{ roomType.typeName }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="newNumber">Numero Stanza</label>
              <input
                type="text"
                class="form-control"
                id="newNumber"
                name="newNumber"
                [(ngModel)]="newRoom.number"
              />
            </div>
            <div class="form-group">
              <label for="newCapacity">CapacitàMax</label>
              <input
                type="text"
                class="form-control"
                id="newCapacity"
                name="newCapacity"
                [(ngModel)]="newRoom.capacity"
              />
            </div>
            <div class="form-group">
              <label for="newPrice">Prezzo</label>
              <input
                type="text"
                class="form-control"
                id="newPrice"
                name="newPrice"
                [(ngModel)]="newRoom.price"
              />
            </div>
            <div class="d-flex justify-content-between align-item mt-3">
              <button class="btn btn-secondary" (click)="addNewRoom()">
                Aggiungi
              </button>
              <button class="btn btn-dark" (click)="close()">chiudi</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- EDIT**************************************************************** -->
    <div class="col-md-3" *ngIf="editingRoom">
      <div class="card card-front">
        <div class="card-body">
          <h5 class="card-title">Modifica Tipo Stanza</h5>
          <form>
            <div class="form-group">
              <label for="editNumber">Numero Stanza</label>
              <input
                type="text"
                class="form-control"
                id="editNumber"
                name="editNumber"
                [(ngModel)]="editingRoom.number"
              />
            </div>
            <div class="form-group">
              <label for="editCapacity">TotalePersone</label>
              <input
                type="text"
                class="form-control"
                id="editCapacity"
                name="editCapacity"
                [(ngModel)]="editingRoom.capacity"
              />
            </div>
            <div class="form-group">
              <label for="editPrice">Prezzo</label>
              <input
                class="form-control"
                id="editPrice"
                name="editPrice"
                rows="3"
                [(ngModel)]="editingRoom.price"
              />
            </div>
          </form>
          <div class="d-flex justify-content-between align-item-center mt-2">
            <button class="btn btn-secondary" (click)="saveEditedRoom()">
              Salva
            </button>
            <button class="btn btn-dark" (click)="cancelEdit()">Annulla</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
