<!-- <div class="row">
    <div class="col-12">
      <img
        *ngFor="let image of images"
        [src]="image"
        [ngClass]="{ flashing: isFlashing }"
      />
    </div>
  </div> -->
<div class="container">
  <div class="card-group pb-5">
    <div class="card mx-2">
      <img
        src="../../../assets/images/foto1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="smallParag">Incrementa le prenotazioni.</p>
        <h5 class="card-title">
          Guida completa a Google Hotel Ads, scopri come dare un boost alla tua
          struttura.
        </h5>
        <p class="card-text pt-4">Ulteriori informazioni</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card me-2">
      <img
        src="../../../assets/images/foto2.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 10 days ago</small>
      </div>
    </div>
    <div class="card me-2">
      <img
        src="../../../assets/images/foto3.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 31 August 2023</small>
      </div>
    </div>
  </div>
  <div class="card-group pb-5">
    <div class="card mx-2">
      <img
        src="../../../assets/images/foto1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="smallParag">Incrementa le prenotazioni.</p>
        <h5 class="card-title">
          Guida completa a Google Ads, scopri come dare un boost alla tua
          struttura.
        </h5>
        <p class="card-text pt-4">Ulteriori informazioni</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card me-2">
      <img
        src="../../../assets/images/foto2.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 10 days ago</small>
      </div>
    </div>
    <div class="card me-2">
      <img
        src="../../../assets/images/foto3.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 31 August 2023</small>
      </div>
    </div>
  </div>
  <div class="card-group pb-5">
    <div class="card mx-2">
      <img
        src="../../../assets/images/foto1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="smallParag">Incrementa le prenotazioni.</p>
        <h5 class="card-title">
          Guida completa a Google Ads, scopri come dare un boost alla tua
          struttura.
        </h5>
        <p class="card-text pt-4">Ulteriori informazioni</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card me-2">
      <img
        src="../../../assets/images/foto2.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This card has supporting text below as a natural lead-in to additional
          content.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 10 days ago</small>
      </div>
    </div>
    <div class="card me-2">
      <img
        src="../../../assets/images/foto3.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This card has even longer content than the
          first to show that equal height action.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 31 August 2023</small>
      </div>
    </div>
  </div>
</div>
