.container {
  padding: 6rem 0;

  max-width: 100%;
  // background-image: linear-gradient(
  //     90deg,
  //     rgb(209, 209, 209),
  //     rgb(207, 207, 207)
  //   ),
  //   linear-gradient(
  //     45deg,
  //     rgb(17, 209, 137) 0%,
  //     rgb(17, 209, 137) 46%,
  //     rgb(67, 93, 104) 46%,
  //     rgb(67, 93, 104) 56%,
  //     rgb(117, 162, 222) 56%,
  //     rgb(117, 162, 222) 61%,
  //     rgb(86, 131, 229) 61%,
  //     rgb(129, 131, 136) 64%,
  //     rgb(208, 217, 219) 64%,
  //     rgb(44, 113, 127) 82%,
  //     rgb(107, 153, 100) 82%,
  //     rgb(107, 153, 100) 100%
  //   ),
  //   linear-gradient(
  //     135deg,
  //     rgb(17, 209, 137) 0%,
  //     rgb(63, 99, 86) 46%,
  //     rgb(67, 93, 104) 46%,
  //     rgb(67, 93, 104) 56%,
  //     rgb(117, 162, 222) 56%,
  //     rgb(117, 162, 222) 61%,
  //     rgb(86, 131, 229) 61%,
  //     rgb(86, 131, 229) 64%,
  //     rgb(44, 113, 127) 64%,
  //     rgb(44, 113, 127) 82%,
  //     rgb(107, 153, 100) 82%,
  //     rgb(107, 153, 100) 100%
  //   );
  // background-blend-mode: overlay, overlay, normal;
}
a {
  text-decoration: none;
  color: black;
}

.smallParag {
  font-size: 14px;
}

.card-group .card {
  cursor: pointer;
}

.card-group .card:hover {
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0 30px 20px rgba(10, 10, 10, 0.3);
}

.card-group .card:active {
  border: 3px solid #ddd;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }
  .card-group {
    flex-direction: column;
  }
}
