<div class="container">
  <div class="card-group pb-5">
    <div class="card mx-2">
      <img
        src="../../../assets/images/foto1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="smallParag">Incrementa le prenotazioni.</p>
        <h5 class="card-title">Guida completa a Google Hotel Ads</h5>
        <p>Scopri come dare un boost alla tua struttura.</p>
        <a
          class="link"
          href="https://ads.google.com/intl/it_it/start/overview-ha/incrementality-ha/?subid=it-it-ha-aw-bk-c-ine!o3~CjwKCAjwnv-vBhBdEiwABCYQAy57tWt9J2g8w3kUsiCQgttzSK8m_WVC7EGrewKX7NQ9cq7kFP98PBoCUZ8QAvD_BwE~157650459283~kwd-94527731~20963628212~598749884761&utm_source=aw&utm_medium=ha&utm_campaign=it-it-ha-aw-bk-c-ine!o3~CjwKCAjwnv-vBhBdEiwABCYQAy57tWt9J2g8w3kUsiCQgttzSK8m_WVC7EGrewKX7NQ9cq7kFP98PBoCUZ8QAvD_BwE~157650459283~kwd-94527731~20963628212~598749884761&gad_source=1&gclid=CjwKCAjwnv-vBhBdEiwABCYQAy57tWt9J2g8w3kUsiCQgttzSK8m_WVC7EGrewKX7NQ9cq7kFP98PBoCUZ8QAvD_BwE&gclsrc=aw.ds"
          target="_blank"
        >
          Ulteriori informazioni
        </a>
      </div>
      <span class="badge badge-primary position-absolute bottom-0 end-0">
        <img
          src="../../../assets/images/HH-Photoroom.png-Photoroom.png"
          alt="Badge"
          style="height: 35px; width: 35px"
        />
      </span>
    </div>

    <div class="card me-2">
      <img
        src="../../../assets/images/foto2.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="smallParag">Controlla il tuo FoodCost</p>
        <h5 class="card-title">Guida completa su come gestire il foodCost</h5>
        <p class="card-text">
          Nelle prossime settimane aggiungeremo una pagina dedicata al calcolo
          del foodCost per la tua struttura!
        </p>

        <a
          class="link"
          href="https://www.teamsystem.com/magazine/horeca/food-cost-come-calcolare-il-costo-del-cibo/#:~:text=Per%20calcolare%20il%20food%20cost%20di%20un%20pasto%20%C3%A8%20opportuno,food%20cost%20sar%C3%A0%20del%2030%25."
          target="_blank"
        >
          Ulteriori informazioni
        </a>
      </div>
      <span class="badge badge-primary position-absolute bottom-0 end-0">
        <img
          src="../../../assets/images/HH-Photoroom.png-Photoroom.png"
          alt="Badge"
          style="height: 35px; width: 35px"
        />
      </span>
    </div>
    <div class="card me-2">
      <img
        src="../../../assets/images/foto3.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="smallParag">Forma il tuo personale</p>
        <h5 class="card-title">
          Guida e consigli su come formare il personale
        </h5>
        <p class="card-text">
          Il valore aggiunto di ogni azienda e il personale, formalo e motivalo
          per aumentare il valore della tua attività.
        </p>
        <a
          class="link"
          href="https://www.robertonecci.it/it/news/2584/la-motivazione-del-personale-istruzioni-per-una-gestione-alberghiera-efficiente.html"
          target="_blank"
        >
          Ulteriori informazioni
        </a>
      </div>
      <span class="badge badge-primary position-absolute bottom-0 end-0">
        <img
          src="../../../assets/images/HH-Photoroom.png-Photoroom.png"
          alt="Badge"
          style="height: 35px; width: 35px"
        />
      </span>
    </div>
  </div>
</div>
